body {
	background-color: #A9D0F5;
	margin:0;
}	

/*** MAIN DIV ***/

.container {
	width:820px;
	height:100%;
	margin:0 auto;
	background-color:#FFFFFF;
}

/*** HEADER ***/

.header {
	padding: 5px 5px 10px 5px;
}

#header-image {
	position:absolute;
	margin-right:50px;
}

/*** NAVIGATION ***/

.menu {
	padding:6px 0 6px 40px;
	text-align: left;
	text-transform:lowercase;
	background:#585858;
	
}

.menu a {
	color: #E6E6E6;
	font-family: 'Oxygen', sans-serif;
	text-decoration:none;
	font-size:14px;
}

.menu a:hover {
	color: #81BEF7;
	
}

/*** HOMEPAGE ***/

#home-tag {
	margin-top:10px;
	text-align:center;
}

#home-info {
	width:700px;
	height:1000px;
	font-family: 'Merriweather', serif;
	font-size: 12px;
	line-height:20px;
	color: #353535;
	text-transform:justify;
	position:relative;
	text-align:center;
}

#main-image {
	width:650px;
	margin-left:30px;
	margin-bottom:-60px;
	margin-top:30px;
}

#home-panel {
	width:700px;
	height:200px;
	margin:0 auto;
	border-top:solid 2px #CCC;
	margin-top:100px;
}
#home-nav {
	font-family:'Raleway', serif;
	font-size:16px;
	color:#81BEF7;
	font-weight:bold;
	text-align:center;
}

#nav-home {
	list-style-type:none;
	line-height:30px;	
	text-align:center;
	text-transform:justify;
}

#nav-home li {
	font-size:10px;
	font-family:'Oxygen', serif;
	letter-spacing:2px;
	display:inline;
	text-align:center;
	margin-top:5px;
	padding-left:10px;
	padding-right:10px;
	margin-right:10px;
	margin-left:-20px;
}

#nav-home a {
	text-decoration:none;
	color:#045FB4;
}

#nav-home a:hover {
	color:#848484;
	font-weight:bold;
}


/*** MAIN ARTICLE ***/

.main {
	margin:0 0 0 50px;
	padding:30px 40px 30px 0;
}

/*** DISSERTATION TITLES ***/

h3 {
	text-align:left;
	font-size: 32px;
	font-family: 'Playfair Display', serif;
	text-transform: lowercase;
	line-height: 33px;
	color: #81BEF7;
	letter-spacing:4px;
}

/*** MAIN PARAGRAPHS ***/

.main-p  {
	text-indent: 35px;
	font-family: 'Merriweather', serif;
	font-size: 12.5px;
	line-height: 20px;
	color: #353535;
	text-transform:justify;
}

/*** MINI HEADERS ***/

.mini-headers {
	font-size:24px;
	text-decoration:none;
	line-height:20px;
	text-transform:lowercase;
	font-family:'Oxygen', sans-serif;
	color:#81BEF7;
	
}

.research-headers {
	color:#0174DF;
	font-size:15px;
	line-height:20px;
	text-transform:lowercase;
	font-family:'Oxygen', sans-serif;
	margin-bottom:-45px;
	margin-top:40px;
}

/*** QUESTIONS WITH NUMBER ***/

#number {
	font-weight:bold;
	margin-right:5px;
	font-family: 'Playfair Display', sans-serif;
	font-size:25px;
	color:#81BEF7;
}

.questions {
	font-family: 'Merriweather', serif;
	font-size: 11.5px;
	margin-left:50px;
	line-height:19px;
	text-transform:justify;
	color:#353535;
}

#research {
	font-family:'Merriweather', serif;
	font-size:11.5px;
	line-height:20px;
	color:#353535;
	text-transform:justify;
}

/*** QUOTES ***/

#quote {
	color:#848484;
	font-weight:bold;
	text-transform:justify;
	font-size:12px;
	line-height:20px;
}

/*** POPUP TITLE ***/

#popup-title {
	background-color:#A9D0F5;
	width:280px;
	height:30px;
	font-family:'Merriweather', sans-serif;
	font-size:16px;
	color:#353535;
	text-indent:10px;
	padding:8px 0 0 0;
	font-weight:bold;
}

/*** FIRST POPUP ***/

#popup-1 {
	background-color:#E9EDF2;
	width:280px;
	height:220px;
	font-size:10px;
	font-family:'Merriweather', serif;
	color:#2E2E2E;
	text-transform:justify;
	overflow:hidden;
	position:absolute;
	display:none;
	padding: 10px 10px 10px 10px;
	cursor:pointer;
}

#popup-1 a {
	text-decoration:none;
	color:#81BEF7;
	cursor:pointer;
}

#click-pop {
	text-decoration:none;
	color:#045FB4;
	font-weight:bold;
	text-transform:justify;
	font-size:12px;
	line-height:20px;
	cursor:pointer;
}

/*** SECOND POPUP ***/

#popup-2 {
	background-color:#E9EDF2;
	width:280px;
	height:200px;
	font-size:10px;
	font-family:'Merriweather', serif;
	color:#2E2E2E;
	text-transform:justify;
	overflow:hidden;
	position:absolute;
	display:none;
	padding: 10px 10px 10px 10px;
	cursor:pointer;
}

#popup-2 a {
	text-decoration:none;
	color:#81BEF7;
	cursor:pointer;
}

#click-pop-2 {
	text-decoration:none;
	color:#045FB4;
	font-weight:bold;
	text-transform:justify;
	font-size:12px;
	line-height:20px;
	cursor:pointer;
}

/*** THIRD POPUP ***/
#popup-3 {
	background-color:#E9EDF2;
	width:280px;
	height:150px;
	font-size:10px;
	font-family:'Merriweather', serif;
	color:#2E2E2E;
	text-transform:justify;
	overflow:hidden;
	position:absolute;
	display:none;
	padding: 10px 10px 10px 10px;
	cursor:pointer;
}

#popup-3 a {
	text-decoration:none;
	color:#81BEF7;
	cursor:pointer;
}

#click-pop-3 {
	text-decoration:none;
	color:#045FB4;
	font-weight:bold;
	text-transform:justify;
	font-size:12px;
	line-height:20px;
	cursor:pointer;
}

/*** FOURTH POPUP ***/

#popup-4 {
	background-color:#E9EDF2;
	width:280px;
	height:140px;
	font-size:10px;
	font-family:'Merriweather', serif;
	color:#2E2E2E;
	text-transform:justify;
	overflow:hidden;
	position:absolute;
	display:none;
	padding: 10px 10px 10px 10px;
	cursor:pointer;
}

#popup-4 a {
	text-decoration:none;
	color:#81BEF7;
	cursor:pointer;
}

#click-pop-4 {
	text-decoration:none;
	color:#045FB4;
	font-weight:bold;
	text-transform:justify;
	font-size:12px;
	line-height:20px;
	cursor:pointer;
}

/*** TABLES ***/

th {
	background-color:#A9D0F5;
	text-decoration:none;
	font-family:'Raleway', serif;
	font-size:13px;
	padding:5px 5px 5px 5px;
	color:#424242;
	text-transform:lowercase;
	width:200px;
	
}

td {
	background-color:#F2F2F2;
	font-family:'Merriweather', serif;
	text-transform:justify;
	padding:7px 7px 7px 7px;
	font-size:11px;
	text-align:center;
	color:#848484;
}

#total  {
	font-size:12px;
	font-weight:bold;
}

td:hover {
	background-color:#E0ECF8;
}

.main a:hover {
	color:#444444;
}

#home-image img {
	width:100%;
}

/*** FOOTER ***/

footer {
	padding:6px 0 6px 40px;
	background:#E6E6E6;
	font-family:'Oxygen', sans-serif;
	color:#CCCCCC;
	font-size:11px;
	text-decoration:right;
	clear:both;
	margin-top:20px;
}

/*** ABOUT ***/

#about-me {
	background-color:#A9D0F5;
	width:400px;
	height:500px;
	float:right;
	margin-bottom:120px;
	opacity:0.7;
}

#image-about {
	float:left;
}

#about-title {
	font-family: 'Roboto', sans-serif;
	font-weight:400;
	text-align:center;
	font-size:26px;
	color:#0174DF;
	margin-top:10px;
	text-transform:justify;
	letter-spacing:6px;
}

#about-sub {
	text-align:center;
	letter-spacing:2px;
	font-size:13.5px;
	font-family:'Raleway', serif;
	color:#353535;
	margin-top:10px;
}

.about {
	margin:10px 10px 0 20px;
	letter-spacing:2px;
	font-family:'Roboto', serif;
	font-size:12px;
	color:#2E2E2E;
	font-weight:400;
	line-height:18px;
}

#about-logo {
	display:block;
	margin:auto auto;
}

.about-link {
	text-align:center;
	font-family:'Raleway', serif;
	font-size:12px;
	display:inline block;
	margin:auto auto;
	padding-right:10px;
}

.about-link a {
	color:#0174DF;
	font-weight:bold;
	font-family:'Oxygen', serif;
	text-decoration:none;
	letter-spacing:2px;
}

#wordpress {
	margin-right:15px;
}

.about-link a:hover {
	color:#2E9AFE;
}

/*** EXAMPLES ***/

.example {
	font-size: 10px;
	margin-left: 190px;
	margin-top: 30px;
	margin-bottom:30px;
	text-transform:justify;
	line-height:15px;
	width:350px;
	font-family: 'Merriweather', sans-serif;
	color:#6E6E6E;
}

.example u {
	color:#2E9AFE;
}

.example p {
	padding-bottom:5px;
}

.strong {
	font-weight:bold;
}

#small-number {
	color:#81BEF7;
	font-size:12.5px;
	margin-right:5px;
	font-weight:bold;
}

/*** BIBLIOGRAPHY ***/

li {
	margin-top:10px;
	margin-bottom:10px;
}

#biblo {
	color:#0174DF;
	text-decoration:none;
	font-weight:bold;
}

#biblo:hover {
	color:#81BEF7;
}

#biblo-list {
	text-indent:4px;
	font-family: 'Merriweather', serif;
	font-size: 12.5px;
	line-height: 20px;
	color: #353535;
	text-transform:justify;
}

.square-button {
	list-style-type:square;
}

/*** BUTTONS/NAV ***/
	
a.button  {
	display: inline-block;
	background: #353535;
	outline: solid 2px #353535;
	border: solid 2px white;
	color: #E6E6E6;
	padding: 10px 10px;
	margin: 20px 0;
	text-decoration: none;
	font-family: 'Oxygen', sans-serif;
	font-size: 13px;
	cursor: pointer;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
}

a.button:hover {
    background-color: white; 
    color: #81BEF7;
	font-family: 'Oxygen', sans-serif;
}

.button a {
	text-decoration: none;
	color: white;
	font-family: 'Oxygen', sans-serif;
}

#rightbutton {
	float:right;
	position:relative;
	right:-18.5%;
}

#leftbutton {
	float:left;
	left: -5%;
	position:relative;
}

#homebutton {
  float: right;
  position: relative;
  left: -45%; 
  text-align: left;
}

#homebutton .child {
  position: relative;

}

/*** CONTACT FORM ***/

#contact-form {
	background: #A9D0F5; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#E0ECF8, #A9D0F5); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#E0ECF8, #A9D0F5); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#E0ECF8, #A9D0F5); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#E0ECF8, #A9D0F5); /* Standard syntax */
	height:450px;
	width:700px;
	margin: auto auto;
	padding-top:10px;
	position:relative;
	border-radius:10px;
}

#contact-form label {
	font-family:'Raleway', serif;
	font-size:14px;
	color:#2E9AFE;
	text-transform:lowercase;
	font-weight:bold;
	letter-spacing:2px;
	padding-bottom:20px;
	margin-right:20px;
	margin-left:30px;
}

#contact-form textarea {
	height:200px;
	width:590px;
	border:2px solid #81BEF7;
	font-family:'Raleway', serif;
	font-size:12px;
	color:#353535;
	padding-right:40px;
	margin-left:30px;
	margin-bottom:-20px;
}

#contact-form input {
	height:20px;
	width:400px;
	border: 2px solid #81BEF7;
	font-family:'Raleway', serif;
	font-size:12px;
	color:#353535;
	display:inline-block;
	margin-bottom:-20px;
}

#contact-submit input {
	font-family:'Raleway', serif;
	font-size:14px;
	letter-spacing:3px;
	font-weight:bold;
	text-transform:lowercase;
	color:#353535;
	background:#2E9AFE;
	color:#353535;
	cursor:pointer;
	width:350px;
	height:40px;
	clear:both;
	margin-top:0px;
	margin-left:170px;
}

#contact-submit input:hover {
	box-shadow: 0 5px 15px #193047;
	border:none;
}

#contact-image {
	position:absolute;
	top:-10px;
	right:0px;
	height:170px;
	width:170px;
	margin-right:10px;
	padding-bottom:250px;
}

#contact-title {
	margin-top:-10px;
	margin-left:10px;
}

#contact-para {
	font-family:'Raleway', serif;
	font-size:12px;
	color:#353535;
	text-transform:justify;
	margin-left:10px;
	margin-top:-58px;
	right:200px;
	position:absolute;
}

/*** SCROLL TOP ***/

.scrollToTop {
	width:100px;
	height:100px;
	padding:10px;
	text-align:center;
	background: url('../images/arrow.png') no-repeat 0px 20px;
	font-weight:bold;
	color:#81BEF7;
	position:fixed;
	text-decoration:none;
	bottom:-30px;
	right:-50px;
	display:none;
}

.scrollTop:hover {
	text-decoration:none;
}