/*** MAIN BODY ***/
body {
	background-color: #CCC;
	margin:0;
	height:100%;
	width:100%;
	
}	

/*** MAIN DIV ***/
.container {
	width:1200px;
	margin:0 auto;
	background-color:#FFFFFF;
	margin-top:20px;
	margin-bottom:20px;
	outline:2px solid #FFF;
	border:5px solid #795d6b;
	-webkit-box-shadow: 1px 1px 1px 1px #ccc;
    -moz-box-shadow: 1px 1px 1px 1px #ccc;
    box-shadow: 1px 1px 1px 1px #ccc;
}

/*** HEADER ***/

.header {
	padding:45px 0 20px 40px;
}

/*** NAVIGATION ***/

.main-menu {
	background-color:#FFFFFF;
	padding:6px 0 6px 40px;
	height:100px;
	margin-bottom:100px;
}

#menu {
	float:right;
	list-style-type:none;
	margin-top:70px;
	margin-right:60px;
}

.menu-link {
	float:left;
	margin-top:-10px;
	margin-left:2px;
}

#menu-image {
	float:left;
	margin-top:-5px;
	margin-left:-30px;
}

/*** NAV BAR IMAGE ***/

#home-link, #about-link, #contact-link, #blog-link, #tumblr-link {
	height:50px;
	width:50px;
	display:block;
	padding-left:20px;
	margin-right:10px;
	margin-left:-10px;
}

#hover-home, #hover-about, #hover-contact, #hover-blog, #hover-tumblr {
	display:none;
}

.nav-links {
	font-family:'Raleway', serif;
	display:inline-block;
	font-size:10px;
	font-weight:bold;
	color:#795d6b;
	text-align:center;
	text-transform:uppercase;
	letter-spacing:1px;
}

/*** CONTENT IMAGES ***/

#image-content {
	display:block;
	margin-left:100px;
	float:left;
}

#image-content-two {
	clear:both;
	float:right;
	margin-top:-373px;
	margin-right:100px;
}

#image-content-three {
	clear:both;
	display:block;
	margin-left:100px;
}

#image-content-four {
	clear:both;
	float:right;
	margin-right:100px;
	margin-top:-373px;
}
.box {
	cursor:pointer;
	height:333px;
	max-width:450px;
	position:relative;
	margin:20px;
	overflow:hidden;
	-webkit-box-shadow: 1px 1px 1px 1px #ccc;
    -moz-box-shadow: 1px 1px 1px 1px #ccc;
    box-shadow: 1px 1px 1px 1px #ccc;
}

.box img {
	text-align:center;
	left:0;
	-webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
	float:left;
	overflow:hidden;
}

.box .caption {
	background-color: rgba(1,0,0,0.4);
	position:absolute;
	color:#F1F0FF;
	z-index:100;
	-webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
	left:0;
	
}

.box .caption {
	opacity: 0;
    width: 450px;
    height: 333px;
    text-align: center;
	font-family:'Dancing Script', serif;
    font-size:80px;
	padding-top:140px;
}

.box:hover .caption{
	opacity:1;
}

/*** HOME CONTENT ***/

#intro-text {
	margin-top:200px;
	width:1100px;
	height:280px;
	margin-left:30px;
	margin-bottom:50px;
	text-align:center;
	-webkit-box-shadow: 1px 1px 1px 1px #ccc;
    -moz-box-shadow: 1px 1px 1px 1px #ccc;
    box-shadow: 1px 1px 1px 1px #ccc;
}
.index-text {
	font-family: 'Lora', serif;
	font-size:14px;
	font-weight:200;
	text-transform:justify;
	line-height:20px;
	letter-spacing:3px;
	color:#795d6b;
	margin-right:10px;
	margin-left:10px;
	text-align:center;
}

.index-text-large {
	font-family: 'Lora', serif;
	font-size:24px;
	font-weight:bold;
	text-transform:justify;
	line-height:20px;
	letter-spacing:3px;
	color:#353535;
	margin-right:10px;
	margin-left:10px;
	text-align:center;
	padding-top:20px;
}
/*** MAIN CONTENT ***/

.content {
	margin:20px 20px 20px 20px;
	color:#444444;
	font-family:"Georgia";
	font-size:13px;
	line-height:18px;
	text-emphasis:justify;
}

/*** ABOUT PAGE ***/

#about-image {
	height:500px;
	margin-top:150px;
	float:right;
	margin-right:50px;
	-webkit-box-shadow: 1px 1px 1px 1px #ccc;
    -moz-box-shadow: 1px 1px 1px 1px #ccc;
    box-shadow: 1px 1px 1px 1px #ccc;
}

#image-section {
	width:1200px;
}

#image-section ul {
	list-style-type:none;
	display:inline-block;
	margin-top:-20px;
}

#image-section img {
	width:300px;
	display:inline-block;
	margin-left:10px;
	-webkit-box-shadow: 1px 1px 1px 1px #ccc;
    -moz-box-shadow: 1px 1px 1px 1px #ccc;
    box-shadow: 1px 1px 1px 1px #ccc;
}

#image-section li {
	float:left;
	padding-left:30px;
}

#about-info {
	float:left;
	margin-top:55px;
	width:700px;
	height:500px;
	margin-left:30px;
	margin-bottom:50px;
	text-align:center;
	-webkit-box-shadow: 1px 1px 1px 1px #ccc;
    -moz-box-shadow: 1px 1px 1px 1px #ccc;
    box-shadow: 1px 1px 1px 1px #ccc;
}

#cycle-one {
	position:relative;
}

#cycle-one img{
	position:absolute;
	z-index:1;
}

#cycle-one img.active{
	z-index:3;
}


/*** FOOTER ***/

footer {
	clear:both;
	padding:6px 40px 6px 40px;
	font-family:'Bitter', serif;
	color:#C3C3E5;
	font-size:11px;
	text-decoration:right;
	text-align:center;
	letter-spacing:2px;
	margin-bottom:50px;
	margin-top:30px;
}

footer a {
	text-decoration:none;
	color:#262626;
}

/*** BLOG FEED ***/

#blog-feed {
	padding:6px 40px 6px 40px;
	font-family:'Bitter', serif;
	color:#C3C3E5;
	font-size:11px;
	text-decoration:right;
	text-align:center;
	letter-spacing:2px;
	margin-bottom:50px;
	margin-top:100px;
}